<h6 id="greeting">Category: <%= link_to @item.category.name, category_path(@item.category) %></h6>
<h1 id="greeting"><%= @item.title %></h1>
<h5 id="greeting"><%= @item.subtitle %></h5>
<h5 id="greeting"><%= @item.price %></h5>
<img id="item_picture" src="<%= @item.picture_url %>" alt="<%= @item.title %>" />


<h4 id="greeting"><%= @headline %></h4>
<% if @reviews.empty? %>
  <p id="greeting">No reviews yet!</p>
<% else %>
  <ul id="review_list">
    <% @reviews.each do |review| %>
      <li id="greeting">Rating: <%= review.rating %> - <%= review.description %></li>
    <% end %>
  </ul>
<% end %>

<!-- <div class="pagination text-left" role="navigation" aria-label="Pagination"> -->
  <%= paginate @reviews %>
<!-- </div> -->


<div style="float:left">
<h4 id="greeting">We'd love your review of the <%= @item.title %>!</h4>

<%= form_for [@item, @review] do |f| %>
  <%= f.label :rating, "Rating:" %>
  <%= f.select :rating, options_for_select(@rating_options) %>

  <%= f.label :description, "Your Review:" %>
  <%= f.text_area :description %>

  <%= f.submit "Submit", class: "button" %>

<% end %>
</div>
