<%= link_to "Home", root_path %>

<h1><%= @item.title %></h1>
<h2><%= @item.subtitle %></h2>
<h2><%= @item.price %></h2>
<img src="<%= @item.picture_url %>" alt="<%= @item.title %>" />

<h4><%= @headline %></h4>
<% if @reviews.empty? %>
  <p>No reviews yet!</p>
<% else %>
  <ul id="review_list">
    <% @reviews.each do |review| %>
      <li>Rating: <%= review.rating %> - <%= review.description %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= paginate @reviews %>
</p>

<% unless current_user.nil? %>
  <h4>We'd love your review of the <%= @item.title %>!</h4>

  <%= form_for [@item, @review] do |f| %>
    <%= f.label :rating, "Rating:" %>
    <%= f.select :rating, options_for_select(@rating_options) %>

    <%= f.label :description, "Your Review:" %>
    <%= f.text_area :description %>

    <%= f.submit "Submit" %>
  <% end %>
<% end %>
