<h1><%= @item.title %></h1>
<h2><%= @item.subtitle %></h2>
<h2><%= @item.price %></h2>
<img src="<%= @item.picture_url %>" alt="<%= @item.title %>" />

<h4>Reviews</h4>
<ul>
  <% if @reviews.empty? %>
    <li>No reviews yet!</li>
  <% else %>
    <% @reviews.each do |review| %>
      <li>Rating: <%= review.rating %></li>
      <ul>
        <li><%= review.description %></li>
      </ul>
    <% end %>
  <% end %>
</ul>

<h4>We'd love your review of the <%= @item.title %>!</h4>

<%= form_for [@item, @review] do |f| %>
  <%= f.label :rating, "Rating:" %>
  <%= f.select :rating, options_for_select([
    ["Pick a Rating", 0],
    ["5 - Amazing", 5],
    ["4 - Great", 4],
    ["3 - Mediocre", 3],
    ["2 - Bad", 2],
    ["1 - Awful", 1]
    ]) %>

  <%= f.label :description, "Your Review:" %>
  <%= f.text_area :description %>

  <%= f.submit "Submit" %>
<% end %>
