<%= link_to "Home", root_path %>

<h1><%= @item.title %></h1>
<h2><%= @item.subtitle %></h2>
<h2><%= @item.price %></h2>
<img src="<%= @item.picture_url %>" alt="<%= @item.title %>" />

<h4><%= @headline %></h4>
<h3>Category: <%= link_to @item.category.name, category_path(@item.category) %></h3>
<% if @reviews.empty? %>
  <p>No reviews yet!</p>
<% else %>
  <ul id="review_list">
    <% @reviews.each_with_index do |review, index| %>
      <li id="review-<%= index %>">
        Rating: <%= review.rating %> - <%= review.description %> (Review rating: <%= review.net_rating %>)
        <%= link_to image_tag("https://s3.amazonaws.com/ikea-reviews/uploads/votes/thumbs_up.png"),
          votes_upvote_path(review_id: review.id),
          id: "upvote-#{index}"
        %>
        <%= link_to image_tag("https://s3.amazonaws.com/ikea-reviews/uploads/votes/thumbs_down.png"),
          votes_downvote_path(review_id: review.id),
          id: "downvote-#{index}"
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= paginate @reviews %>
</p>

<h4>We'd love your review of the <%= @item.title %>!</h4>

<%= form_for [@item, @review] do |f| %>
  <%= f.label :rating, "Rating:" %>
  <%= f.select :rating, options_for_select(@rating_options) %>

  <%= f.label :description, "Your Review:" %>
  <%= f.text_area :description %>

  <%= f.submit "Submit" %>
<% end %>
