<!DOCTYPE html>
<html lang="en">
  <head>
<link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar', locals: {categories: categories_list} %>
    <div class="container-fluid">

    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>

    <div class="column">
      <%= yield %>
    </div>
  </body>
</html>
